@model _0._8HTTPRequest.Models.test2

@{
    ViewData["Title"] = "Index";
}



<section>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.longt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.longt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.latt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.latt)
        </dd>
    </dl>
</section>

